.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../../assets/bg.jpg");
  background-size: cover;
  background-position: center;
}

.formContainer {
  width: 320px;
  max-width: 80%;
  background: #fff;
  border-radius: 16px;
  box-shadow: 4px 3px 8px -4px rgba(0, 0, 0, 0.82);
}

.header {
  img {
    border-radius: 16px 16px 0 0;
    max-width: 100%;
  }
}

.form {
  padding: 16px;
}

.input {
  margin-top: 16px;
  width: 100%;

  input {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: none;
    background: #fbfbfbff;
    outline: 2px solid #b9b9b9ff;
  }
}

.buttonContainer {
  display: grid;
  justify-content: center;
  margin-top: 16px;

  button {
    background: rgba(47, 124, 196, 1);
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    padding: 8px 22px;
    transition: 0.4s;
  }

  button:hover {
    cursor: pointer;
    background: rgba(43, 111, 174, 1);
  }
}
