.header {
  background: rgba(47, 124, 196, 1);
  color: #fff;
  padding: 16px 32px;
  border-bottom: 6px solid rgba(43, 111, 174, 1);
  display: flex;
  align-items: center;
  justify-content: space-between;

  p {
    cursor: pointer;
  }

  p:hover {
    text-decoration: underline;
  }
}

.content {
  margin: 0 auto;
  margin-top: 16px;
  padding-bottom: 32px;
  width: 800px;
  max-width: 80%;
}

.searching {
  margin-top: 32px;

  p {
    font-size: 16px;
    font-style: italic;
  }
}

.search {
  width: 100%;

  input {
    outline: 2px solid #c3c3c3ff;
    border-radius: 8px;
    color: #606060ff;
    font-size: 16px;
    padding: 16px;
    border: none;
    width: 100%;
  }
}

.filter {
  display: flex;
  margin-top: 16px;
  gap: 32px;
}

.owned {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  margin-top: 16px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.owned input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: -2px;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.owned:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.owned input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.owned input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.owned .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.pokemonContainer {
  margin-top: 32px;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}

.pokemonBox {
  background: #f3f3f3ff;
  border-radius: 16px;
  display: flex;
  align-items: center;
  flex-direction: column;

  img {
    max-width: 140px;
  }

  p {
    text-transform: capitalize;
  }

  small {
    margin-top: 6px;
    margin-bottom: 12px;
  }

  span {
    font-size: 12px;
    font-weight: 600;
  }
}

@media screen and (max-width: 650px) {
  .pokemonContainer {
    grid-template-columns: 1fr;
  }

  .header h4 {
    font-size: 16px;
    max-width: 150px;
    line-height: 25px;
  }
}
