html {
  width: 100%;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 1;
  height: 100%;
  width: 100%;
}

#root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  width: 100%;
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}
